* {
    border: none;
    border-radius: 0px;
    font-family: "JETBRAINS MONO";
    font-weight: 600;
    font-size: 14px;
    min-height: 20px;
    opacity: 1.0;
  }

window#waybar {
    background: #1e1e2e;
}



#clock {
    color: #7aa2f7;
    padding-left: 10px;
    padding-right: 10px;
}

#language {
    color: #bb9af7;
    padding-left: 10px;
    padding-right: 10px;
}

#pulseaudio {
    color: #9ece6a;
    padding-left: 10px;
    padding-right: 10px;
}

#tray {
    padding-left: 10px;
    padding-right: 10px;
}

#workspaces {
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

#custom-archicon {
    font-size: 20px;
}